*{
    margin: 0;
    box-sizing: border-box;
}

.navbar1{
    position: relative;
    background-color: #2d665d;
    height: auto;
    color: #fff;
    padding-top: 10px;
}

.navbar1 .container{
    display: flex;
    justify-content: space-between;
}

.navbar1 .container .left{
    display: flex;
}

.navbar1 .container .left .phone{
    margin-right: 20px;
}


.phone{
    display: flex;
}

.time{
    display: flex;
    margin-right: 10px;
}

.time i{
    margin-top: 5px;
    margin-right: 10px;
}

.phone i{
    margin-top: 5px;
    margin-right: 10px;
}

.address{
    display: flex;
}

.address i{
    margin-top: 5px;
    margin-right: 5px;
}

.container .right i{
    margin-right: 10px;
}

.navbar2{
    position: relative;
    border: 1px solid green;
    height: 100px;
}

.navbar2 .container .logo{
    width: max-content;
    margin-top: 19px;
}

.navbar2 .container .links{
    display: flex;
}

.navbar2 .container .links .one{
    display: flex;
}

.navbar2 .container .links .one p{
    margin-top: 5px;
    margin-right: 5px;
}